body {
	overflow-x: hidden;
    color: #25282c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

 
    
}
/*--- Nav Scrolling Offset --*/
.offset:before {
	height: 62px;
	margin-top: -62px;
	content: "";
    display: block;
    
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
	padding: 1rem;
}

/*============= NAVIGATION =============*/

.navbar {
    padding: .02rem 1rem;
    padding-right: 2rem;
    text-transform: uppercase;
    text-decoration-color: floralwhite;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
    background-color: rgba(17, 17, 19, 0.801)!important;
    color: rgb(22, 19, 19);
    opacity: 100%;

}
.navbar-brand img {
    height: 4rem;
    padding-left: 4rem;
   
}

/*=====Underline hover effect start====*/
.navbar-nav .nav-link {
	color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;

}

.navbar-nav .nav-link::after{
background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(219, 122, 66);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-nav .nav-link:hover::after{

    width: 100%; 
    left: 0; 

}
/*underline hover end*/




.svg-inline--fa.fa-w-14 {
	color: rgb(196, 189, 189);
	font-size: 1.6rem;
}
.navbar-nav li {
	padding-right: .8rem;
}

/*=============== LANDING PAGE====change the picture later =======*/

.home-inner {
    background-image: url('img/trees.jpg');
    position: relative;
   
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute; 
    top: 40%;
    z-index: 1;

}
.caption h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: left;
    padding-left: 3rem;
}

/*=============== Brand scrolling navbar =======*/
.col-md-3{
    display: inline-block;
    margin-left:-4px;

  
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
    background-image: url(img/gradient.jpg);
    background-repeat: no-repeat;
    background-size: 3000px, 3000px;

  }
  .col-md-3 img{
    width:50%;
    height:50%;
    
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:rgb(8, 8, 8);
  }
  
  /*=============== About Secction =======*/
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
    padding: 3rem 0 3rem;
}
.narrow{
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
}
h3.heading{
    font-size: 1.9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1.9rem;
}
.heading-underline{
    width: 4rem;
    height: .2rem;
    background-color: rgba(112, 171, 206, 0.863);
    margin: 0 auto 2rem;
}
.about .svg-inline--fa{
    color: rgba(112, 171, 206, 0.863);
    margin: 1rem auto;
}
.about h3{
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}
.about p {
    font-size: 1.1rem;
}

/*Card section*/
.card{
    border-radius: 0;
    background-color:  rgba(214, 172, 178, 0.801);

}
.card-img-top{
    border-radius: 0; 
}
.card h4{
    font-weight: 700;
}
.card h5{
    color: rgba(199, 148, 169, 0.863);
}
.card-img-bottom{
    height: 25.5vh;
    width: 25.5vh;
    border-radius: 0;
}
.jumbotron p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.9rem;
font-weight: lighter;
}
.about{
margin-left: 20%;
padding-right: -4em;
}
.jumbotron{
background-color: lightpink;

}
